stages:
  - build
  - deploy

variables:
  DOCKER_IMAGE: gyujh630/moya-be

before_script:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin

# BE - 빌드
build-be:
  stage: build
  script:
    - docker build -t $DOCKER_IMAGE:$CI_COMMIT_BRANCH ./backend
    - docker push $DOCKER_IMAGE:$CI_COMMIT_BRANCH
  tags:
    - ec2
  only:
    - be-dev
    - be-main
    - master

# BE - 개발 환경 배포
deploy-be-dev:
  stage: deploy
  script:
    - docker pull $DOCKER_IMAGE:$CI_COMMIT_BRANCH
    - docker stop be-dev || true
    - docker rm be-dev || true
    - >
      docker run -d --name be-dev -p 8081:8080
      -v /home/ubuntu/files-dev:/app/files-dev
      -e FILE_PATH=/app/files-dev
      -e DB_URL="$DB_URL_DEV"
      -e DB_USERNAME="$DB_USERNAME"
      -e DB_PASSWORD="$DB_PASSWORD"
      -e JWT_SECRET="$JWT_SECRET"
      -e MAIL_USERNAME="$MAIL_USERNAME"
      -e MAIL_PASSWORD="$MAIL_PASSWORD"
      $DOCKER_IMAGE:$CI_COMMIT_BRANCH
  tags:
    - ec2
  only:
    - be-dev

# BE - 프로덕션 환경 배포
deploy-be-prod:
  stage: deploy
  script:
    - docker pull $DOCKER_IMAGE:$CI_COMMIT_BRANCH
    - docker stop be-main || true
    - docker rm be-main || true
    - >
      docker run -d --name be-main -p 8080:8080
      -v /home/ubuntu/files:/app/files
      -e FILE_PATH=/app/files
      -e DB_URL="$DB_URL_PROD"
      -e DB_USERNAME="$DB_USERNAME"
      -e DB_PASSWORD="$DB_PASSWORD"
      -e JWT_SECRET="$JWT_SECRET"
      -e MAIL_USERNAME="$MAIL_USERNAME"
      -e MAIL_PASSWORD="$MAIL_PASSWORD"
      $DOCKER_IMAGE:$CI_COMMIT_BRANCH
  tags:
    - ec2
  only:
    - be-main
    - master
