stages:
  - build
  - deploy

variables:
  DOCKER_IMAGE: gyujh630/moya-be

before_script:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - source .gitlab/ci/mattermost_notify.sh

# BE - 빌드
build-be:
  stage: build
  script:
    - docker build -t $DOCKER_IMAGE:$CI_COMMIT_BRANCH ./backend
    - docker push $DOCKER_IMAGE:$CI_COMMIT_BRANCH
  after_script:
    - |
      if [[ "$CI_JOB_STATUS" != "success" ]]; then
        notify_mattermost build fail - "빌드 실패"
      fi
  tags:
    - ec2
  only:
    - be-dev
    - be-main
    - master

# BE - 개발 환경 배포
deploy-be-dev:
  stage: deploy
  script:
    - docker pull $DOCKER_IMAGE:$CI_COMMIT_BRANCH
    - docker stop be-dev || true
    - docker rm be-dev || true
    - >
      docker run -d --name be-dev -p 8081:8080
      -e DB_URL="$DB_URL_DEV"
      -e DB_USERNAME="$DB_USERNAME"
      -e DB_PASSWORD="$DB_PASSWORD"
      $DOCKER_IMAGE:$CI_COMMIT_BRANCH
  after_script:
    - |
      if [[ "$CI_JOB_STATUS" == "success" ]]; then
        notify_mattermost deploy success 개발
      else
        notify_mattermost deploy fail 개발 "개발 서버 배포 실패"
      fi
  tags:
    - ec2
  only:
    - be-dev

# BE - 운영 환경 배포
deploy-be-prod:
  stage: deploy
  script:
    - docker pull $DOCKER_IMAGE:$CI_COMMIT_BRANCH
    - docker stop be-main || true
    - docker rm be-main || true
    - >
      docker run -d --name be-main -p 8080:8080
      -e DB_URL="$DB_URL_PROD"
      -e DB_USERNAME="$DB_USERNAME"
      -e DB_PASSWORD="$DB_PASSWORD"
      $DOCKER_IMAGE:$CI_COMMIT_BRANCH
  after_script:
    - |
      if [[ "$CI_JOB_STATUS" == "success" ]]; then
        notify_mattermost deploy success 운영
      else
        notify_mattermost deploy fail 운영 "운영 서버 배포 실패"
      fi
  tags:
    - ec2
  only:
    - be-main
    - master
