spring:
  jwt:
    secret: ${JWT_SECRET}

  application:
    name: moya

  profiles:
    active: local

  datasource:
    url: ${DB_URL}?serverTimezone=Asia/Seoul&useUnicode=true&characterEncoding=utf8
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          timeout: 5000
          auth: true
          starttls:
            enable: true

  servlet:
    multipart:
      enabled: true
      max-file-size: 500MB
      max-request-size: 500MB

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        jdbc:
          time_zone: Asia/Seoul   # DB ↔ Java 변환 시 KST 적용

  jackson:
    time-zone: Asia/Seoul         # JSON 직렬화 시 KST 적용

management:
  server:
    port: 9001
  security:
    enabled: true
  endpoints:
    web:
      exposure:
        include: health, prometheus
  endpoint:
    health:
      show-details: always
